/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/css/app.css
/public/js/app.js
/public/mix-manifest.json
/public/1.js
/public/2.js
/public/3.js
/public/4.js
/public/5.jsgit ad
/public/6.js
/public/7.js
/public/8.js
/public/9.js
/public/10.js
/public/11.js
/public/12.js
/public/13.js
/public/14.js
/public/15.js
/public/16.js
/public/17.js
/public/18.js
/public/19.js
/public/20.js
/public/21.js
/public/22.js
/public/23.js
/public/24.js
/public/25.js
/public/26.js
/public/27.js
