@import "vuesax/variables";

@import "vuesax/layout";
@import "vuesax/typography";
@import "vuesax/misc";
@import "vuesax/extraComponents";
@import "vuesax/themes";
@import "vuesax/routerAnimations";
@import "vuesax/transitions";

@import "vuesax/customClasses";

// Vuesax fixes and enhancments
@import "vuesax/fixesVuesax";

// Tailwind Fixes
@import "vuesax/tailwindFix";


.max-width-500{
  max-width: 500px;
}
.style-title{
  margin-bottom: 20px;
}
.logs-search{
  display: inline-flex;
  margin-bottom: 10px;
}
.logs-search p {
  margin: 7px 10px;
}
.logs-search-items{
   width: 110px;
}
.search-button{
  margin-left:20px;
}
@media screen and (max-width: 900px) {
  .logs-search-items{
     width: 300px;
  }
  .search-button{
    margin-top: 10px;
    margin-left: 0;
  }
  .logs-search{
    display: block;
  }
}
